

<mat-toolbar >

    <mat-toolbar-row  class="bg-dark text-white">
    
    <button mat-icon-button (click)="sidenav.toggle();">
    
    <mat-icon><FONT COLOR="#FBFCFC">menu </FONT>menu</mat-icon>
    
   </button> 
    
    <h2><FONT COLOR="#FBFCFC">Task Manager </FONT></h2>
  
    </mat-toolbar-row>
    
    </mat-toolbar>
    
    <mat-sidenav-container class = "bg-black">
    
    <mat-sidenav  class="bg-dark" #sidenav="matSidenav" opened="false" mode="side" >
    
    <mat-nav-list >

      
    
    <a mat-list-item routerLink="/mytasks"  ><FONT COLOR="#FBFCFC"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-list-task" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M2 2.5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5V3a.5.5 0 0 0-.5-.5H2zM3 3H2v1h1V3z"/>
        <path d="M5 3.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zM5.5 7a.5.5 0 0 0 0 1h9a.5.5 0 0 0 0-1h-9zm0 4a.5.5 0 0 0 0 1h9a.5.5 0 0 0 0-1h-9z"/>
        <path fill-rule="evenodd" d="M1.5 7a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5H2a.5.5 0 0 1-.5-.5V7zM2 7h1v1H2V7zm0 3.5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5H2zm1 .5H2v1h1v-1z"/>
      </svg></FONT><br><FONT COLOR="#FBFCFC">My Task</FONT></a>
    
    <a mat-list-item routerLink="/patienttasks"><FONT COLOR="#FBFCFC"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-journal-text" viewBox="0 0 16 16">
        <path d="M5 10.5a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1h-2a.5.5 0 0 1-.5-.5zm0-2a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm0-2a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm0-2a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5z"/>
        <path d="M3 0h10a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2v-1h1v1a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H3a1 1 0 0 0-1 1v1H1V2a2 2 0 0 1 2-2z"/>
        <path d="M1 5v-.5a.5.5 0 0 1 1 0V5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1zm0 3v-.5a.5.5 0 0 1 1 0V8h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1zm0 3v-.5a.5.5 0 0 1 1 0v.5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1z"/>
      </svg></FONT><FONT COLOR="#FBFCFC"><br>Patient Task</FONT></a>
    

    
    </mat-nav-list>
    
    </mat-sidenav>
    
    <mat-sidenav-content>
    
     <div style="height: 88vh;">
    
<router-outlet>
    
    </router-outlet>
    
    </div>
    
    </mat-sidenav-content>
    
    </mat-sidenav-container> 

    

    <app-footer></app-footer>

    
   

